GROQ_API_KEY=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
AUTH_SECRET_KEY=1edaf09d271ae9a2784fc19f0f0c5bbc06e9cf3e31ac9267c9b0bae387a461ee
DATABASE_URL=postgresql://neondb_owner:npg_wgb0Yh8xFoSG@ep-orange-fog-aost22fi-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
BEEKNOEE_API_KEY=sk-bee-a60ec1f223919da4c898a7734bbb31665adabe2c6e0277830fc07cc27056920e
FFMPEG_BIN=/opt/homebrew/opt/ffmpeg-full/bin/ffmpeg
CAPCUT_DEVICE_ID=7146933631262804917
PEXELS_API_KEY=00qJkVRLh2fl42IUNRrKx45ZpL0mi8mIzSpfB9NsJteKBXuk0UGDeU1W
PIXABAY_API_KEY=56378103-a0dddcb724bdad266513ba1ea
WAN2_SERVER_URL=https://72c4-42-115-88-80.ngrok-free.app
NGROK_AUTHTOKEN=2xjj6Q5QPuPGy47ijcoIThjMVwp_WeD1DRkxPbBmbg4D6Qwj
